# Binarios y Temporales
.DS_Store
*~
*.exe
api
main
plan_cuentas_mongo_crud
titan_api_crud
*.tmp
*.log

# Variables de entorno
*.env
!.env
!template.env
!develop.env

# IDEs
.vscode

# Otros
.scannerwork
swagger/**
!swagger/swagger.json
!swagger/swagger.yml
