# Binarios y Temporales
.DS_Store
*~
*.exe
api
main
plan_cuentas_mongo_crud
*.tmp
*.log
*.zip

# Variables de entorno
*.env
!*template*.env

# IDEs
.vscode

# Otros
.scannerwork
swagger/**
!swagger/swagger.json
!swagger/swagger.yml
